<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--日志配置文件-->
    <add key="Log4netConfigFile" value="ConfigFile\log4net.config"/>
  </appSettings>
<connectionStrings>
  <!--由于SqlHelper默认构造函数取这个键值，所以维护上，本服务不使用这个key -->
  <add name="SQLConnString" connectionString=""/>
  <!--直连master数据库链接字符串 本服务暂时未使用-->
    <add name="MasterConnString" connectionString="server=10.135.26.136;user id=appadmin;password=Haier@136;database=HSIRenRenMasterTest_MSCRM;min pool size=4;max pool size=20;packet size=3072" providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>